<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PCINEMA -Về chúng tôi </title>
    <link rel="stylesheet" href="../asset/css/footer.css">
    <link rel="stylesheet" href="../asset/css/navbar.css">
    <link rel="stylesheet" href="../asset/css/about.css">
    <link rel="stylesheet" href="../asset/css/auth.css">
</head>
<body>
    <header class="header">
    <div class="left-section">
      <div class="logo"><a href="home.html">PCINEMA</a></div>
      <div class="nav-left">
        <ul>
<!--          <li><a href="#">Thể Loại</a></li>-->
          <li><a href="nowShowing.html">Phim đang chiếu</a></li>
          <li><a href="commingSoon.html">Phim sắp ra mắt</a></li>
          <li><a href="event.html">Sự kiện / khuyến mãi</a></li>
          <li><a href="about.html">Về PCINEMA</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-right">
      <form action="#" method="GET" class="search-form">
      <input type="text" placeholder="Tìm kiếm..." name="search" />
      <button type="submit">Tìm</button>
       </form>
      <ul id="auth_menu">

      </ul>
    </div>
  </header>
     <section class="about-section">
    <h2>GIỚI THIỆU VỀ PCINEMA</h2>
    <div class="slider">
      <div class="slides">
        <div class="slide active">
          <img src="../asset/image/about-2.png" alt="Slide 1">
          <div class="caption">
            PCINEMA là một trong năm Cụm Rạp Chiếu Phim lớn nhất toàn cầu và PCINEMA Việt Nam là Nhà Phát Hành, nhà quản lý và vận hành Cụm Rạp Chiếu Phim PCINEMA lớn nhất tại Việt Nam. Mục tiêu của PCINEMA Việt Nam là trở thành công ty giải trí điển hình, đóng góp cho sự phát triển không ngừng của lĩnh vực điện ảnh Việt Nam nói riêng và công nghiệp văn hóa mang đậm bản sắc Việt Nam nói chung.
          </div>
        </div>
        <div class="slide">
          <img src="../asset/image/about-1.jpg" alt="Slide 2">
          <div class="caption">
            PCINEMA được biết đến với cụm rạp đầu tiên với 5 phòng chiếu vào năm 2010. Từ 2014, PCINEMA là cụm rạp của doanh nghiệp Việt Nam duy nhất có sức phát triển mạnh mẽ, qua việc liên tục mở thêm các vị trí rạp mới, ở những khu vực đắc địa của Thành phố Hồ Chí Minh, Hà Nội, Huế và các tỉnh thành khác.
          </div>
        </div>
        <div class="slide">
          <img src="../asset/image/about-3.png" alt="Slide 3">
          <div class="caption">
            Bên cạnh việc sẽ tiếp tục mở rộng ra các tỉnh thành khác, giá trị cốt lõi của thương hiệu PCINEMA là luôn luôn bảo đảm trải nghiệm của khách hàng qua chất lượng phục vụ, đồng nhất tại tất cả các cụm rạp.
          </div>
        </div>
          <div class="slide">
          <img src="../asset/image/about-4.png" alt="Slide 5">
          <div class="caption">
            PCinema là hệ thống cụm rạp cao cấp với chất lượng âm thanh và hình ảnh hiện đại, được thành lập vào năm 2010.
          </div>
        </div>
          <div class="slide">
          <img src="../asset/image/about-5.png" alt="Slide 4">
          <div class="caption">
           PCINEMA luôn được trang bị kỹ lưỡng về âm thanh hình ảnh luôn được áp dụng các công nghệ tối tân nhất mang lại trải nghiệm chân thật nhất, không gian thoải mái, sạch sẽ để khách hàng luôn yên tâm khi sử dụng dịch vụ và đội ngũ nhân viên được cam kết phục vụ đầy đủ, chuyên nghiệp thoả mãn các yêu cầu của khách hàng kịp thời.
          </div>
        </div>

      </div>
      <div class="slider-nav">
        <span class="prev">&#10094;</span>
        <span class="next">&#10095;</span>
      </div>
    </div>
     </section>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Liên Hệ</h3>
                <p>Hotline: 19002099</p>
                <p>Giờ làm việc: 77:00 - 22:30 (bao gồm cả Lễ, Tết)</p>
                <p>Email hỗ trợ: <a href="mailto:cskh@ptit.vn">cskh@ptit.vn</a></p>
            </div>
            <div class="footer-section">
                <h3>Quy định và chính sách chung</h3>

                <p>Hệ Thống Rạp</p>
                <p>Quy định và điều khoản</p>
                <p>Về PCINEMA</p>
                <p>Chăm sóc khách hàng</p>
            </div>
            <div class="footer-section">
                <h3>Thông tin thêm</h3>
                <p>Cụm Rạp</p>
                <p>Hướng dẫn đặt vé trực tuyến</p>
                <p>Quy định thành viên</p>
                <p>Điều khoản</p>
            </div>
        </div>
    </footer>
    <script src="../asset/js/about.js"></script>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="../asset/js/auth.js"></script>
</html>