<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PCINEMA Đăng nhập - Đăng ký</title>
    <link href="../asset/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!--Data or Content-->
        <div class="box-1">
            <div class="content-holder">
                <h2>PCINEMA xin chào !!</h2>
                <button class="button-1" onclick="signup()">Đăng ký tại đây!</button>
                <button class="button-2" onclick="login()">Đăng nhập tại đây</button>
            </div>
        </div>

        <!--Forms-->
        <div class="box-2">
            <div id="loginForm" class="login-form-container active">
                <h1>Đăng Nhập</h1>
                <input type="email" placeholder="Email" class="input-field">
                <br><br>
                <input type="password" placeholder="Mật Khẩu" class="input-field">
                <br><br>
                <button class="login-button" type="button">Đăng Nhập</button>
                <br></br>
                <p id="loginMessage"></p>
            </div>

            <div id="signupForm" class="signup-form-container">
                <h1>Đăng Ký</h1>
                <input type="text" id="signupName" placeholder="Họ và Tên" class="input-field">
                <br><br>
                <input type="text" id="signupPhone" placeholder="Số Điện Thoại" class="input-field">
                <br><br>
                <input type="email" id="signupEmail" placeholder="Email" class="input-field">
                <br><br>
                <input type="password" id="signupPassword" placeholder="Mật Khẩu" class="input-field">
                <br></br>
                <input type="password" id="resignupPassword" placeholder="Mật Khẩu" class="input-field">
                <br><br>
                <button class="signup-button" type="button">Đăng Ký</button>
                <br></br>
                <p id="signupMessage"></p>
            </div>

        </div>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <script src="../asset/js/login.js">

  </script>
</html>
